body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    /* height: 90vh; */
    background: linear-gradient(135deg, #1976d2 0%, #64b5f6 100%);
}

*{
    font-family: Arial, Helvetica, sans-serif;
}